body {
    background-color: rgb(32, 38, 59);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    background-color: rgb(45, 53, 84);
    outline: 5px;
    margin: 20px;
}